[Unit]
Description=Vt-tablet
After=syslog.target network.target

[Service]

ExecStart={{vitess_dir}}/bin/vttablet --topo_implementation zk2 --topo_global_server_address {{zk_host}} --topo_global_root {{topo_global_root}} --log_dir=/data/vt/tmp --tablet-path={{cell_name}}-{{tablet_id_sharded}} --init_keyspace=commerce --init_shard={{shard_name}} --init_tablet_type=replica --port={{tablet_port}} --grpc_port={{tablet_grpc_port}} --service_map 'grpc-queryservice,grpc-tabletmanager'  --enable_replication_reporter=true --queryserver-config-pool-size=32 --queryserver-config-transaction-cap=300 --queryserver-config-stream-pool-size=16 --tablet_hostname {{ansible_host}}
User=vitess
Group=vitess
WorkingDirectory={{vitess_dir}}
Environment=VTDATAROOT={{VTDATAROOT}}
Restart=on-failure
RestartSec=1500ms
KillMode=control-group
SendSIGKILL=yes
TimeoutSec=120
StandardOutput=journal
StandardError=journal
SyslogIdentifier=Vt-tablet
LimitNOFILE=400000
LimitNPROC=20000

[Install]
WantedBy=multi-user.target